#barChart {
    border: 1px solid #cccccc;
    margin: 20px;
}

.bar {
    stroke: rgb(255, 142, 64);
    stroke-width: 1px;
    fill: rgb(253, 255, 94);
}
.bar-mouseover{
    stroke: rgb(255, 249, 36);
    stroke-width: 1px;
    fill: rgb(255, 254, 141);
}

.bar-max {
    stroke: rgb(255, 21, 18);
    stroke-width: 1px;
    fill: rgb(255, 88, 211);
}

.axis text{
    font-family: sans-serif;
    font-size: 12px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
}
